/* Full browser elements */

body{
	margin: 0px;
	font-family: arial;
}

.page{
	width: 1100px;
}




/* Header elements */

.headerBackground{
  	height: 125px;
}

.logo{
	margin-top: 20px;
}

/* Menu elements in the Header */

.menu{
	margin-top: 30px;
	margin-left: 925px;
}

ul li a{
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

ul li{
	display: inline-block;
}




/* Banner elements */

.bannerBackground{
	margin-top: 122px;
  	height: 400px;	
}

.banner{
	margin-top: 142px;
	margin-left: 20px;
	width: 40%;
	height: 40%;
}

h1{
	margin-top: 160px;	
	margin-left: 650px;
	color: white;
	font-size: 26px;
	line-height: 30px;
}




/* Grid elements */

h2{
	font-size: 20px;
	line-height: 22px;
}




/*  */

.headerBackground, .logo, .menu, .bannerBackground, .banner, h1{
	position: absolute;
}

/* Change the width of the backgrounds */
.headerBackground, .bannerBackground {
	width: calc(100% - 50px);
}